.cardSkeleton {
	height: 180px;
	border-radius: 16px;
	background: linear-gradient(
		90deg,
		var(--color-gray-light) 25%,
		var(--color-gray-ultra-light) 37%,
		var(--color-gray-light) 63%
	);
	background-size: 400% 100%;
	animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}
