.card {
	display: flex;
	flex-direction: row;
	height: 368px;
	padding: 24px;
	gap: 24px;
	border: 1px solid var(--color-gray-light);
	border-radius: 20px;
	background-color: var(--color-white);
}

.imageLayout {
	width: 292px;
	height: 320px;
	border-radius: 15px;
	flex-shrink: 0;
	animation: shimmer 1.6s infinite linear;
	background: linear-gradient(
		90deg,
		var(--color-gray-light) 25%,
		var(--color-gray-ultra-light) 37%,
		var(--color-gray-light) 63%
	);
	background-size: 400% 100%;
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.titleBox {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.title {
	width: 45%;
	height: 24px;
	border-radius: 6px;
	background: var(--color-gray-light);
	animation: shimmer 1.6s infinite linear;
}

.price {
	width: 80px;
	height: 24px;
	border-radius: 6px;
	background: var(--color-gray-light);
	animation: shimmer 1.6s infinite linear;
}

.reviewRow {
	width: 180px;
	height: 16px;
	border-radius: 6px;
	margin-bottom: 20px;
	background: var(--color-gray-light);
	animation: shimmer 1.6s infinite linear;
}

.description {
	width: 100%;
	height: 16px;
	border-radius: 6px;
	margin-bottom: 24px;
	background: var(--color-gray-light);
	animation: shimmer 1.6s infinite linear;
}

.featuresRow {
	display: flex;
	gap: 12px;
	margin-bottom: 24px;
}

.featuresRow div {
	width: 72px;
	height: 32px;
	border-radius: 8px;
	background: var(--color-gray-light);
	animation: shimmer 1.6s infinite linear;
}

.button {
	width: 140px;
	height: 44px;
	border-radius: 999px;
	background: var(--color-gray-light);
	animation: shimmer 1.6s infinite linear;
}

@keyframes shimmer {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}
