.backgroundThumb {
	width: 100%;
	height: calc(100vh - 72px);
	background-image:
		linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
		url('../../assets/images/hero@1x.jpg');

	background-size: cover;
	background-position: center;
	padding: 260px 64px 260px 64px;
}

.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 0.66667;
	color: var(--color-gray-bg);
	margin-bottom: 16px;
}

.subtitle {
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33333;
	color: var(--color-gray-bg);
}

.resetContainer {
	max-width: none;
	margin: 0;
	padding: 0;
}
