.btn {
	height: 56px;
	text-align: center;
	border-radius: 200px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: var(--color-white);
}

.primary {
	min-width: 166px;
	max-width: 173px;
	background-color: var(--color-red-primary);
	border: none;
	transition: background-color 0.2s ease;
}

.secondary {
	width: 145px;
	border: 1px solid #dadde1;
	background-color: transparent;
	color: currentColor;
}

.primary:hover,
.primary:focus {
	background-color: var(--color-red-secondary);
}

.secondary:hover,
.secondary:focus {
	border-color: var(--color-red-primary);
}
