.wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	gap: 16px;
}

.rating {
	display: flex;
	text-decoration: underline;
}

.location {
	display: flex;
}

.ratingIcon {
	margin-right: 4px;
}

.locationIcon {
	margin-right: 4px;
}
