.wrapper {
	display: grid;
	grid-template-columns: minmax(360px, auto) 1fr;
	padding: 48px 0px 40px 0px;
	gap: 64px;
}

.filtersBox {
	width: 360px;
}

.catalogBox {
	width: 100%;
}

.showMoreBtn {
	margin: 40px auto 52px auto;
	display: block;
}
