.wrapper {
	display: flex;
	flex-direction: row;
	gap: 64px;
	padding: 48px 0px 40px 0px;
}

.filtersBox {
	width: 360px;
}

.catalogBox {
	width: 100%;
}

.showMoreBtn {
	margin: 40px auto 52px auto;
	display: block;
}
