.link {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 166px;
	max-width: 173px;
	height: 56px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	border-radius: 200px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;

	color: var(--color-white);
	background-color: var(--color-red-primary);
	transition: background-color 0.2s ease;
}

.link:hover,
.link:focus {
	background-color: var(--color-red-secondary);
}
