.header {
	background: #f7f7f7;
}

.wrapper {
	display: flex;
	padding: 24px 0;
	align-items: baseline;
}

.navThumb {
	margin: 0px auto 0px auto;
}

.navList {
	display: flex;
	gap: 32px;
	color: var(--color-dark-navy);
}

.link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: var(--color-dark-navy);
}

.activeLink {
	color: var(--color-red-secondary);
}
