.field {
	display: flex;
	flex-direction: column;
}

.textarea {
	width: 100%;
	border-radius: 12px;
	border: 1px solid var(--color-gray-light);
	padding: 14px 16px;
	font-size: 16px;
	background-color: #f9f9f9;
	color: var(--color-dark-navy);
}

.textarea:focus {
	outline: none;
	border-color: var(--color-yellow-accent);
	background-color: var(--color-white);
}

.textarea {
	resize: none;
}

.error {
	margin-top: 4px;
	font-size: 12px;
	color: var(--color-red-primary);
}

.errorInput {
	border-color: var(--color-red-primary);
}
