.card {
	max-width: 640px;
	padding: 32px;
	border-radius: 16px;
	border: 1px solid var(--color-gray-light);
	background-color: var(--color-white);
}

.title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--color-dark-navy);
	margin-bottom: 8px;
}

.subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-gray-steel);
	margin-bottom: 24px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.btn {
	margin: 0px auto 0px auto;
}
