.btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.icon {
	transition: filter 0.2s ease;
}

.btn:hover,
.btn:focus {
	transform: scale(1.1);
}

.btn:hover .icon,
.btn:focus .icon {
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.isFavorite {
	fill: var(--color-red-primary);
}
