@import 'modern-normalize/modern-normalize.css';

:root {
	--font-main: 'Inter', sans-serif;

	/* Dark / Base */
	--color-dark-navy: #101828;
	--color-dark-slate: #475467;
	--color-gray-steel: #6c717b;

	/* Accent / Status */
	--color-red-primary: #e44848;
	--color-red-secondary: #d84343;
	--color-yellow-accent: #ffc531;

	/* Light / Background */
	--color-gray-light: #dadde1;
	--color-gray-ultra-light: #f2f4f7;
	--color-gray-bg: #f7f7f7;
	--color-white: #ffffff;
}

body {
	font-family: var(--font-main);
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: var(--color-dark-navy);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

h1,
p {
	margin: 0;
}

.container {
	padding: 0px 64px;
	margin: 0 auto;
	max-width: 1440px;
}

.paddingNone {
	padding: 0px;
}
