@import 'modern-normalize/modern-normalize.css';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Dark / Base */
	--color-dark-navy: #101828;
	--color-dark-slate: #475467;
	--color-gray-steel: #6c717b;

	/* Accent / Status */
	--color-red-primary: #e44848;
	--color-red-secondary: #d84343;
	--color-yellow-accent: #ffc531;

	/* Light / Background */
	--color-gray-light: #dadde1;
	--color-gray-ultra-light: #f2f4f7;
	--color-gray-bg: #f7f7f7;
	--color-white: #ffffff;
}

.container {
	padding: 0px 64px;
	margin: 0 auto;
	max-width: 1440px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
