.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33333;
	margin-bottom: 8px;
	color: currentColor;
}

.price {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33333;
	color: currentColor;
	margin-bottom: 28px;
}

.review {
	margin-bottom: 16px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(292px, 300px));
	gap: 48px;
	margin-bottom: 28px;
}

.imageThumb {
	width: 292px;
	height: 312px;
	border-radius: 10px;
	overflow: hidden;
}

.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-dark-slate);
}
