.card {
	display: flex;
	flex-direction: row;
	height: 368px;
	padding: 24px;
	gap: 24px;
	border: 1px solid var(--color-gray-light);
	border-radius: 20px;
}

.imageLayout {
	width: 292px;
	height: 320px;
	border-radius: 15px;
	overflow: hidden;
	flex-shrink: 0;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.titleBox {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.priceBox {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33333;
	gap: 12px;
	color: currentColor;
}

.bottomBtn {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	margin-top: auto;
	/* width: 166px;
	height: 56px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em; */
}

.infoBox {
	display: flex;
	gap: 16px;
	margin-bottom: 24px;
}

.shortDescription {
	margin-bottom: 24px;
}
